* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    
}
main{
  font-size: 33px;
  height: 10em;
  text-align: center;
  align-items: center;
  justify-content: center;
}
header{
width: 100%;
padding-top: 30px;
padding-bottom: 30px;
background: rgba(0, 0, 0, 0.671);
position: fixed;
top: 0;
left: 0;
border: 4px solid #1d1b77;
color: white;
}
.clickname a{
    text-decoration:none;
    color:white;
}
a.yesunder{
  text-decoration-line: underline;
  color:white;
}
a.yesunder2{
  text-decoration-line: underline;
  color:rgba(38, 0, 255, 0.418);
  -webkit-text-stroke: 2px #ffffff;
  text-stroke: 2px #ffacac;
}
.kakkoii{
    font-size: 33px;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -77px auto;
    
}
.scroll {
  padding-top: 90px;
  font-size: 44px;
  font-family: fantasy;
  position: relative;
  text-align: center;
}
.scroll::before {
  animation: scroll 2s infinite;
  border-bottom: 9px solid #ffffff;
  border-left: 9px solid #ffffff;
  content: "";
  height: 30px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}
@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(-45deg) translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: rotate(-45deg) translate(-20px, 20px);
  }
  100% {
    opacity: 0;
  }
}
img{
  left: 11px;
  width: 30px;
  height: 30px;
}

.swipe-button {
  display: block; /* ブロック要素指定 */
  width: 170px; /* 横幅を240pxに */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); /* 影を薄く（透明度15%）追加 */
  box-sizing: border-box; /* 要素の幅と高さの計算にパディングとボーダーを含める */
  padding: 1rem 1rem; /* パディングを1remに */
  margin:  -27px auto; /* 上下のマージンを20px、左右のマージンを自動で中央揃えに */
  text-align: center; /* テキストを中央配置に */
  color: white !important; /* テキスト色を白に強制指定 */
  background-image: linear-gradient(to right, #00188d 50%, #7fbdff 50%); /* 背景のデュアルトーン */

  border-radius: 9px; /* 角の丸みを5pxに設定 */
  transition: background-position 0.2s ease; /* 背景位置の変化にアニメーションを設定 */
  background-size: 200% 100%; /* 背景サイズを調整 */
}

.swipe-button:hover {
  background-position: -100% 0; /* ホバー時に背景を移動 */
}
* {
  font-family: "Kosugi", serif;
  font-weight: 400;
  font-style: normal;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(image/banner.jpg);
  background-color: rgba(0, 0, 0, 0.5); /* 50%の黒を重ねる */
  background-size: cover;
  background-position: center center;
  filter: blur(2px);
  background-blend-mode: multiply; /* 背景と黒を合成 */
  z-index: -1; 
}