* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    
}
main{
  font-size: 33px;
  height: 10em;
  text-align: center;
  align-items: center;
  justify-content: center;
}
header{
width: 100%;
padding-top: 30px;
padding-bottom: 30px;
background: rgba(0, 0, 0, 0.671);
position: fixed;
top: 0;
left: 0;
border: 4px solid #1d1b77;
color: white;
}
.clickname a{
    text-decoration:none;
    color:white;
}
a.yesunder{
  text-decoration-line: underline;
  color:white;
}
a.yesunder2{
  text-decoration-line: underline;
  color:rgba(38, 0, 255, 0.418);
  -webkit-text-stroke: 2px #ffffff;
  text-stroke: 2px #ffacac;
}
.kakkoii{
    font-size: 33px;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -77px auto;
    
}
.scroll {
  padding-top: 90px;
  font-size: 44px;
  font-family: fantasy;
  position: relative;
  text-align: center;
}
.scroll::before {
  animation: scroll 2s infinite;
  border-bottom: 9px solid #ffffff;
  border-left: 9px solid #ffffff;
  content: "";
  height: 30px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}
@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(-45deg) translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: rotate(-45deg) translate(-20px, 20px);
  }
  100% {
    opacity: 0;
  }
}
img{
  left: 11px;
  width: 30px;
  height: 30px;
}

.swipe-button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); /* 影を薄く（透明度15%）追加 */
  box-sizing: border-box; /* 要素の幅と高さの計算にパディングとボーダーを含める */
  padding: 1rem 1rem; /* パディングを1remに */
  margin:  1px auto; /* 上下のマージンを20px、左右のマージンを自動で中央揃えに */
  text-align: center; /* テキストを中央配置に */
  color: white !important; /* テキスト色を白に強制指定 */
  background-image: linear-gradient(to right, #00188d 50%, #7fbdff 50%); /* 背景のデュアルトーン */

  border-radius: 9px; /* 角の丸みを5pxに設定 */
  transition: background-position 0.2s ease; /* 背景位置の変化にアニメーションを設定 */
  background-size: 200% 100%; /* 背景サイズを調整 */
}

.swipe-button:hover {
  background-position: -100% 0; /* ホバー時に背景を移動 */
}
* {
  font-family: "Kosugi", serif;
  font-weight: 400;
  font-style: normal;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(image/banner.jpg);
  background-color: rgba(0, 0, 0, 0.5); /* 50%の黒を重ねる */
  background-size: cover;
  background-position: center center;
  filter: blur(2px);
  background-blend-mode: multiply; /* 背景と黒を合成 */
  z-index: -1; 
}
figure, blockquote {
  margin: 0 !important; 
  padding: 0 0 0 0.5em !important;
  border-left: solid 3px black !important;
  font-style: italic !important;
}
blockquote p {
  margin: 0.5em 0 !important;
}
figcaption {
  text-align: right !important;
}
.c-header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem; /* カスタマイズしてください */
  width: 100%;
}

.c-header__logo {
  color: #ffffff; /* カスタマイズしてください */
  text-decoration: none;
}

.c-header__list {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
}

.c-header__list-item {
  list-style: none;
  text-decoration: none;
}

.c-header__list-link {
  color: #ffffff; /* カスタマイズしてください */
  display: block;
  margin-right: 20px; /* カスタマイズしてください */
  text-decoration: none;
  padding: 10px 0px; /* カスタマイズしてください */
}

.c-header__list-link:hover {
  filter: opacity(0.6); /* カスタマイズしてください */
}

.c-hamburger-menu {
  position: relative;
}

@media screen and (max-width: 750px) {
  .c-hamburger-menu__list {
    background-color: #000a66cb; /* カスタマイズしてください */
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 2rem; /* カスタマイズしてください */
    position: absolute;
    transform: translateX(-100%);
    transition: 0.3s; /* カスタマイズしてください */
    top: 100%;
    width: 100%;
  }

  #hamburger:checked ~ .c-hamburger-menu__list {
    transform: translateX(0%);
    transition: 0.3s;
  }
}

.c-hamburger-menu__input {
  display: none;
}

.c-hamburger-menu__bg {
  background-color: #ffffff00; /* カスタマイズしてください */
  cursor: pointer;
  display: none;
  height: 100vh;
  left: 0;
  opacity: 0.4; /* カスタマイズしてください */
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#hamburger:checked ~ .c-hamburger-menu__bg {
  display: block;
}

.c-hamburger-menu__button {
  display: none;
}

@media screen and (max-width: 750px) {
  .c-hamburger-menu__button {
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px; /* カスタマイズしてください */
    height: 32px; /* カスタマイズしてください */
    justify-content: center;
    width: 32px; /* カスタマイズしてください */
  }
}

.c-hamburger-menu__button-mark {
  background-color: #ffffff; /* カスタマイズしてください */
  display: block;
  height: 1px; /* カスタマイズしてください */
  transition: 0.3s; /* カスタマイズしてください */
  width: 20px; /* カスタマイズしてください */
}

@media screen and (max-width: 750px) {
  #hamburger:checked
    ~ .c-hamburger-menu__button
    .c-hamburger-menu__button-mark:nth-of-type(1) {
    transform: translate(2px, 1px) rotate(45deg); /* カスタマイズしてください */
    transform-origin: 0%; /* カスタマイズしてください */
  }
  #hamburger:checked
    ~ .c-hamburger-menu__button
    .c-hamburger-menu__button-mark:nth-of-type(2) {
    opacity: 0;
  }
  #hamburger:checked
    ~ .c-hamburger-menu__button
    .c-hamburger-menu__button-mark:nth-of-type(3) {
    transform: translate(2px, 3px) rotate(-45deg); /* カスタマイズしてください */
    transform-origin: 0%; /* カスタマイズしてください */
  }
}